<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8eef">  <td>18/12/01 10:36:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.BrowserAppLaunch()[pri:0, instance:com.crmpro.testscript.LoginTest@20e2cbe0]">&gt;&gt;BrowserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>18/12/01 10:37:08</td>   <td>46001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.BrowserClose()[pri:0, instance:com.crmpro.testscript.LoginTest@20e2cbe0]">&lt;&lt;BrowserClose</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>18/12/01 10:37:07</td>   <td>45152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyvalidLogin()[pri:0, instance:com.crmpro.testscript.LoginTest@20e2cbe0]">verifyvalidLogin</td> 
  <td>main@1471868639</td>   <td></td> </tr>
</table>
